src/main/resources/presets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="presets">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LSystem" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="axiom"/>
        <xs:element ref="rules"/>
        <xs:element ref="angle"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="axiom" type="xs:string"/>
  <xs:element name="rules">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rule" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rule">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="symbol" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="angle" type="xs:double"/>
</xs:schema>
